@import url('https://fonts.googleapis.com');

html, body {
    margin: 0;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  /*align-self: flex-start;*/
  width: 100%;
}

.nav-items {
  list-style-type: none;
  display: flex;
  background-color: #cecece;
  margin: 0;
  padding: 0;
}

.nav-items li a {
  display: block;
  color: rgb(0, 0, 0);
  /* text-align: center; */
  padding: 16px 20px;
  text-decoration: none;
}

/* change text color on hover */
.nav-items li a.active {
  background-color: #464646;
  color: #fff
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.header-text {
  flex: 1;
  padding: 40px;
}

.header-headshot {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.header-headshot img{
    max-width: 100%;
    height: 500px;
}