@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Merriweather&display=swap');

html, body {
    margin: 0;
    background-color: #faf9f0;
}

h1 {
  font-family: 'Lora', 'Georgia', serif;
  font-size: 4.5rem;
  font-weight: normal; 
}

/* adujust h1 font size for mobile/smaller dimensions */

@media (max-width: 720px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-family: 'Merriweather', 'Times New Roman', serif;
  font-size: 2.2rem;
  font-weight: normal; 
}

h3 {
  font-family: 'Merriweather', 'Times New Roman', serif;
  font-size: 1.6rem;
  font-weight: normal; 
}

p, li, .button-style {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  font-size: 1rem;
  font-weight: normal; 
  line-height: 1.5;
  color: #30304d
}

/* skip to main content styling */

.skip-link {
  position: absolute;
  overflow: hidden;
  font-family: 'Montserrat', 'Helvetica', sans-serif;

}

.skip-link:focus {
  position: static;
  overflow: visible;
}

/* nav bar styling */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #faf9f0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8)
}

.nav-items {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: right;
}

.nav-items li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 1rem 1.3rem;
  text-decoration: none;
}

/* styling for different states of the nav bar items */

.nav-items li a.active {
  background-color: #30304d;
  color: #faf9f0
}

.nav-items li a:hover {
  color: #e67700;
  text-decoration: underline;
}  

/* header styling */

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.8rem 3.6rem;
  height: 36rem;
  background-color: #d9d2de;
  color:#30304d;
}

.header-text{
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2rem;
  margin-bottom: 3rem;
}

.header-text h1, .header-text p{
  margin: 0;
}

/* styling the caption */

.header-text p {
  font-family: 'Merriweather', 'Times New Roman', serif;
  font-size: 1.3rem;
  font-weight: normal;
}


 .header-headshot {
    display: flex;
    justify-content: center;
    padding: 1.4rem 2rem;
    width: 50%;
}

.header-headshot img{
    max-width: 34rem;
    min-width: 20rem;
    border-radius: 1.5rem;
}

/* change header to vertical for mobile dimensions */

@media (max-width: 1020px) {
    .header-container {
        flex-direction: column;
        height: auto;
    }

    .header-headshot {
      width: 100%;
    }
}

/* view my work button styling */

.button-style {
  width: fit-content;
  display: flex;
  text-decoration: none;
  padding: 1.2rem 1.4rem;
  border-radius: 0.8rem;
  background-color: #30304d;
  color:#faf9f0;
}

.button-style:hover{
  color: #e67700;
}

.button-arrow {
  font-family: 'Material Icons';
}

/* about me section styling */

blockquote {
  margin: 0;
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  padding: 1.8rem 3.6rem;
  color:#30304d;
}

@media (max-width: 720px) {
  .paragraph-container{
    padding: 1.8rem 2rem;
  }
}

/* work container styling */

.work-container {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: #d9d2de;
  border-radius: 1.2rem;
  max-width: 70rem;
  margin-bottom: 2.8rem;
}

.work-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.4rem;
  width: 50%;
}

.work-container img {
  width: 10rem;
  border-radius: 0.4rem;
  margin-right: 2.4rem;
  min-width: 17rem;
}

/* change work container to vertical for mobile dimensions */

@media (max-width: 720px) {
    .work-container {
        flex-direction: column;
        height: auto;
        padding: 2rem 0rem;
    }

    .work-text{
      width: 86%;
      padding: 0rem 2rem;
    }

    .work-container img {
      margin: 0;
    }
}

@media (min-width: 1200px) {
  #work-destination {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 2rem;
  }

  #work-destination h2 {
    grid-column: 1 / span 2;
  }

  #work-destination .work-container {
    margin: 0;
    align-self: start;
    max-width: none;
    width: 100%;
  }

}

/* resume page pdf reader styling */

.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color:#30304d;
  min-height: 80%
}

.pdf-container {
    width: 100%;
    max-width: 100rem;
    height: 64rem;
    padding: 1.8rem;
    box-sizing: border-box;
}

.pdf-container object {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.8rem;
}

/* change resume page for mobile dimensions */

@media (max-width: 720px) {
  .resume-container {
    padding: 0.2rem;
  }
  .pdf-container {
    padding: 0.6rem;
    height: 32rem;
  }
}

/* footer styling */

.footer-container {
  text-align: center;
  padding-bottom: 2rem;
}

.link {
  color: #4b2fb1;
}

.link:hover{
  color: #e67700;
}